/**
 * UI for a 'filterpanel' button 
 */
@mixin cmu-button-filterpanel(
    $ui: 'filterpanel',
    $scale-list: small medium large,

    $background-color: $button-filterpanel-background-color,
    $background-color-over: $button-filterpanel-background-color-over,
    $background-color-pressed: $button-filterpanel-background-color-pressed,
    $background-color-disabled: $button-filterpanel-background-color,

    $border-color: $button-filterpanel-border-color,
    $border-color-over: $button-filterpanel-border-color-over,
    $border-color-pressed: $button-filterpanel-border-color-pressed,
    $border-color-disabled: $button-filterpanel-border-color-disabled,

    $inner-border-width: $button-filterpanel-inner-border-width,
    $inner-border-color: $button-filterpanel-inner-border-color,
    $inner-border-color-disabled: $button-filterpanel-inner-border-color-disabled,

    $color: $button-filterpanel-color,
    $color-over: $button-filterpanel-color-over,
    $color-pressed: $button-filterpanel-color-pressed,
    $color-disabled: $button-filterpanel-color-disabled,

    $arrow-glyph-color: $button-filterpanel-arrow-glyph-color,
    $arrow-glyph-color-over: $button-filterpanel-arrow-glyph-color-over,
    $arrow-glyph-color-pressed: $button-filterpanel-arrow-glyph-color-pressed,
    $arrow-glyph-color-disabled: $button-filterpanel-arrow-glyph-color-disabled,

    $glyph-color: $button-filterpanel-glyph-color,
    $glyph-color-over: $button-filterpanel-glyph-color-over,
    $glyph-color-pressed: $button-filterpanel-glyph-color-pressed,
    $glyph-color-disabled: $button-filterpanel-glyph-color-disabled,

    $text-transform: $button-filterpanel-text-transform,
    $letter-spacing: $button-filterpanel-letter-spacing
) {

    @each $scale in $scale-list {
        @include cmu-button-ui(
            $ui: $ui,
            $scale: $scale,

            $background-color: $background-color,
            $background-color-over: $background-color-over,
            $background-color-pressed: $background-color-pressed,
            $background-color-disabled: $background-color-disabled,

            $border-color: $border-color,
            $border-color-over: $border-color-over,
            $border-color-pressed: $border-color-pressed,
            $border-color-disabled: $border-color-disabled,

            $inner-border-width: $inner-border-width,
            $inner-border-color: $inner-border-color,
            $inner-border-color-disabled: $inner-border-color-disabled,

            $color: $color,
            $color-over: $color-over,
            $color-pressed: $color-pressed,
            $color-disabled: $color-disabled,

            $arrow-glyph-color: $arrow-glyph-color,
            $arrow-glyph-color-over: $arrow-glyph-color-over,
            $arrow-glyph-color-pressed: $arrow-glyph-color-pressed,
            $arrow-glyph-color-disabled: $arrow-glyph-color-disabled,

            $glyph-color: $glyph-color,
            $glyph-color-over: $glyph-color-over,
            $glyph-color-pressed: $glyph-color-pressed,
            $glyph-color-disabled: $glyph-color-disabled,

            $text-transform: $text-transform,
            $letter-spacing: $letter-spacing
        );
    }

}

@include cmu-button-filterpanel();