$ui-sei_mis_header-panel-header-background-color: dynamic($panel-header-background-color);
$ui-sei_mis_header-panel-header-background-gradient: dynamic($panel-header-background-gradient);
$ui-sei_mis_header-panel-header-border-style: dynamic($panel-header-border-style);
$ui-sei_mis_header-panel-header-glyph-color: dynamic($panel-header-glyph-color);
$ui-sei_mis_header-panel-header-icon-width: dynamic($panel-header-icon-width);
$ui-sei_mis_header-panel-header-icon-height: dynamic($panel-header-icon-height);
$ui-sei_mis_header-panel-header-icon-spacing: dynamic($panel-header-icon-spacing);
$ui-sei_mis_header-panel-header-inner-border-color: dynamic($panel-header-inner-border-color);
$ui-sei_mis_header-panel-header-inner-border-width: dynamic($panel-header-inner-border-width);
$ui-sei_mis_header-panel-header-padding: dynamic($panel-header-padding);
$ui-sei_mis_header-panel-header-line-height: dynamic($panel-header-line-height);
$ui-sei_mis_header-panel-header-color: dynamic($panel-header-color);
$ui-sei_mis_header-panel-header-font-family: dynamic($panel-header-font-family);
$ui-sei_mis_header-panel-header-font-size: dynamic($panel-header-font-size);
$ui-sei_mis_header-panel-header-font-weight: dynamic($panel-header-font-weight);
$ui-sei_mis_header-panel-header-text-padding: dynamic($panel-header-text-padding);
$ui-sei_mis_header-panel-body-background-color: dynamic($panel-body-background-color);
$ui-sei_mis_header-panel-body-border-style: dynamic($panel-body-border-style);
$ui-sei_mis_header-panel-body-color: dynamic($panel-body-color);
$ui-sei_mis_header-panel-body-font-size: dynamic($panel-body-font-size);
$ui-sei_mis_header-panel-body-font-weight: dynamic($panel-body-font-weight);
$ui-sei_mis_header-tool-glyph-color: dynamic($tool-glyph-color);
$ui-sei_mis_header-panel-tool-spacing: dynamic($panel-tool-spacing);
$ui-error-panel-panel-header-background-color: dynamic($panel-header-background-color);
$ui-error-panel-panel-header-background-gradient: dynamic($panel-header-background-gradient);
$ui-error-panel-panel-header-border-style: dynamic($panel-header-border-style);
$ui-error-panel-panel-header-glyph-color: dynamic($panel-header-glyph-color);
$ui-error-panel-panel-header-icon-width: dynamic($panel-header-icon-width);
$ui-error-panel-panel-header-icon-height: dynamic($panel-header-icon-height);
$ui-error-panel-panel-header-icon-spacing: dynamic($panel-header-icon-spacing);
$ui-error-panel-panel-header-inner-border-color: dynamic($panel-header-inner-border-color);
$ui-error-panel-panel-header-inner-border-width: dynamic($panel-header-inner-border-width);
$ui-error-panel-panel-header-padding: dynamic($panel-header-padding);
$ui-error-panel-panel-header-line-height: dynamic($panel-header-line-height);
$ui-error-panel-panel-header-color: dynamic($panel-header-color);
$ui-error-panel-panel-header-font-family: dynamic($panel-header-font-family);
$ui-error-panel-panel-header-font-size: dynamic($panel-header-font-size);
$ui-error-panel-panel-header-font-weight: dynamic($panel-header-font-weight);
$ui-error-panel-panel-header-text-padding: dynamic($panel-header-text-padding);
$ui-error-panel-panel-body-background-color: dynamic($panel-body-background-color);
$ui-error-panel-panel-body-border-style: dynamic($panel-body-border-style);
$ui-error-panel-panel-body-color: dynamic($panel-body-color);
$ui-error-panel-panel-body-font-size: dynamic($panel-body-font-size);
$ui-error-panel-panel-body-font-weight: dynamic($panel-body-font-weight);
$ui-error-panel-tool-glyph-color: dynamic($tool-glyph-color);
$ui-error-panel-panel-tool-spacing: dynamic($panel-tool-spacing);
$ui-warning-panel-panel-header-background-color: dynamic($panel-header-background-color);
$ui-warning-panel-panel-header-background-gradient: dynamic($panel-header-background-gradient);
$ui-warning-panel-panel-header-border-style: dynamic($panel-header-border-style);
$ui-warning-panel-panel-header-glyph-color: dynamic($panel-header-glyph-color);
$ui-warning-panel-panel-header-icon-width: dynamic($panel-header-icon-width);
$ui-warning-panel-panel-header-icon-height: dynamic($panel-header-icon-height);
$ui-warning-panel-panel-header-icon-spacing: dynamic($panel-header-icon-spacing);
$ui-warning-panel-panel-header-inner-border-color: dynamic($panel-header-inner-border-color);
$ui-warning-panel-panel-header-inner-border-width: dynamic($panel-header-inner-border-width);
$ui-warning-panel-panel-header-padding: dynamic($panel-header-padding);
$ui-warning-panel-panel-header-line-height: dynamic($panel-header-line-height);
$ui-warning-panel-panel-header-color: dynamic($panel-header-color);
$ui-warning-panel-panel-header-font-family: dynamic($panel-header-font-family);
$ui-warning-panel-panel-header-font-size: dynamic($panel-header-font-size);
$ui-warning-panel-panel-header-font-weight: dynamic($panel-header-font-weight);
$ui-warning-panel-panel-header-text-padding: dynamic($panel-header-text-padding);
$ui-warning-panel-panel-body-background-color: dynamic($panel-body-background-color);
$ui-warning-panel-panel-body-border-style: dynamic($panel-body-border-style);
$ui-warning-panel-panel-body-color: dynamic($panel-body-color);
$ui-warning-panel-panel-body-font-size: dynamic($panel-body-font-size);
$ui-warning-panel-panel-body-font-weight: dynamic($panel-body-font-weight);
$ui-warning-panel-tool-glyph-color: dynamic($tool-glyph-color);
$ui-warning-panel-panel-tool-spacing: dynamic($panel-tool-spacing);
$ui-transparent-button-button-default-background-color: dynamic(null);
$ui-transparent-button-button-default-glyph-color: dynamic($button-default-glyph-color);
$ui-transparent-button-button-default-border-color: dynamic(null);
$ui-transparent-button-button-default-background-gradient: dynamic($button-default-background-gradient);
$ui-transparent-button-button-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-transparent-button-button-default-inner-border-color: dynamic(null);
$ui-transparent-button-button-default-inner-border-width: dynamic(null);
$ui-transparent-button-button-default-color: dynamic(null);
$ui-transparent-button-button-small-border-width: dynamic($button-small-border-width);
$ui-transparent-button-button-small-border-radius: dynamic($button-small-border-radius);
$ui-transparent-button-button-small-padding: dynamic($button-small-padding);
$ui-transparent-button-button-small-font-family: dynamic(null);
$ui-transparent-button-button-small-font-size: dynamic(null);
$ui-transparent-button-button-small-font-weight: dynamic(null);
$ui-transparent-button-button-small-text-padding: dynamic($button-small-text-padding);
$ui-transparent-button-button-small-glyph-font-size: dynamic($button-small-glyph-font-size);
$ui-transparent-button-button-small-icon-spacing: dynamic($button-small-icon-spacing);
$ui-transparent-button-button-small-icon-size: dynamic($button-small-icon-size);
$ui-transparent-button-button-small-line-height: dynamic($button-small-line-height);
$ui-transparent-button-button-medium-border-width: dynamic($button-medium-border-width);
$ui-transparent-button-button-medium-border-radius: dynamic($button-medium-border-radius);
$ui-transparent-button-button-medium-padding: dynamic($button-medium-padding);
$ui-transparent-button-button-medium-font-family: dynamic(null);
$ui-transparent-button-button-medium-font-size: dynamic(null);
$ui-transparent-button-button-medium-font-weight: dynamic(null);
$ui-transparent-button-button-medium-text-padding: dynamic($button-medium-text-padding);
$ui-transparent-button-button-medium-glyph-font-size: dynamic($button-medium-glyph-font-size);
$ui-transparent-button-button-medium-icon-spacing: dynamic($button-medium-icon-spacing);
$ui-transparent-button-button-medium-icon-size: dynamic($button-medium-icon-size);
$ui-transparent-button-button-medium-line-height: dynamic($button-medium-line-height);
$ui-transparent-button-button-large-border-width: dynamic($button-large-border-width);
$ui-transparent-button-button-large-border-radius: dynamic($button-large-border-radius);
$ui-transparent-button-button-large-padding: dynamic($button-large-padding);
$ui-transparent-button-button-large-font-family: dynamic(null);
$ui-transparent-button-button-large-font-size: dynamic(null);
$ui-transparent-button-button-large-font-weight: dynamic(null);
$ui-transparent-button-button-large-text-padding: dynamic($button-large-text-padding);
$ui-transparent-button-button-large-glyph-font-size: dynamic($button-large-glyph-font-size);
$ui-transparent-button-button-large-icon-spacing: dynamic($button-large-icon-spacing);
$ui-transparent-button-button-large-icon-size: dynamic($button-large-icon-size);
$ui-transparent-button-button-large-line-height: dynamic($button-large-line-height);
$ui-transparent-button-button-default-background-color-disabled: dynamic(null);
$ui-transparent-button-button-default-border-color-disabled: dynamic(null);
$ui-transparent-button-button-default-background-gradient-disabled: dynamic($button-default-background-gradient-disabled);
$ui-transparent-button-button-default-inner-border-color-disabled: dynamic(null);
$ui-transparent-button-button-default-inner-border-width-disabled: dynamic(null);
$ui-transparent-button-button-default-background-color-focus: dynamic(null);
$ui-transparent-button-button-default-border-color-focus: dynamic(null);
$ui-transparent-button-button-default-background-gradient-focus: dynamic($button-default-background-gradient-focus);
$ui-transparent-button-button-default-inner-border-color-focus: dynamic(null);
$ui-transparent-button-button-default-inner-border-width-focus: dynamic(null);
$ui-transparent-button-button-default-body-outline-color-focus: dynamic($button-default-body-outline-color-focus);
$ui-transparent-button-button-default-body-outline-style-focus: dynamic($button-default-body-outline-style-focus);
$ui-transparent-button-button-default-body-outline-width-focus: dynamic($button-default-body-outline-width-focus);
$ui-transparent-button-button-default-background-color-focus-over: dynamic(null);
$ui-transparent-button-button-default-border-color-focus-over: dynamic(null);
$ui-transparent-button-button-default-background-gradient-focus-over: dynamic($button-default-background-gradient-focus-over);
$ui-transparent-button-button-default-inner-border-color-focus-over: dynamic(null);
$ui-transparent-button-button-default-inner-border-width-focus-over: dynamic(null);
$ui-transparent-button-button-default-background-color-focus-pressed: dynamic(null);
$ui-transparent-button-button-default-border-color-focus-pressed: dynamic(null);
$ui-transparent-button-button-default-background-gradient-focus-pressed: dynamic($button-default-background-gradient-focus-pressed);
$ui-transparent-button-button-default-inner-border-color-focus-pressed: dynamic(null);
$ui-transparent-button-button-default-inner-border-width-focus-pressed: dynamic(null);
$ui-transparent-button-button-default-background-color-over: dynamic(null);
$ui-transparent-button-button-default-border-color-over: dynamic(null);
$ui-transparent-button-button-default-background-gradient-over: dynamic($button-default-background-gradient-over);
$ui-transparent-button-button-default-inner-border-color-over: dynamic(null);
$ui-transparent-button-button-default-inner-border-width-over: dynamic(null);