// link button
$button-filterpanel-background-color: dynamic(darken($toolbar-footer-background-color, 10%));
$button-filterpanel-background-color-over: dynamic(white);
$button-filterpanel-background-color-pressed: dynamic($button-filterpanel-background-color-over);
$button-filterpanel-background-color-disabled: dynamic($toolbar-footer-background-color);

$button-filterpanel-border-color: dynamic($form-text-field-border-color);
$button-filterpanel-border-color-over: dynamic($form-text-field-border-color);
$button-filterpanel-border-color-pressed: dynamic($button-filterpanel-border-color-over);
$button-filterpanel-border-color-disabled: dynamic(transparent);

$button-filterpanel-inner-border-width: dynamic(0);
$button-filterpanel-inner-border-color: dynamic($form-text-field-border-color);
$button-filterpanel-inner-border-color-disabled: dynamic($form-text-field-border-color);

$button-filterpanel-color: dynamic($color);
$button-filterpanel-color-over: dynamic($color);
$button-filterpanel-color-pressed: dynamic($color);
$button-filterpanel-color-disabled: dynamic($color);

$button-filterpanel-arrow-glyph-color: dynamic($button-filterpanel-color);
$button-filterpanel-arrow-glyph-color-over: dynamic($button-filterpanel-color-over);
$button-filterpanel-arrow-glyph-color-pressed: dynamic($button-filterpanel-color-pressed);
$button-filterpanel-arrow-glyph-color-disabled: dynamic($button-filterpanel-color-disabled);

$button-filterpanel-glyph-color: dynamic($button-filterpanel-color);
$button-filterpanel-glyph-color-over: dynamic($button-filterpanel-color-over);
$button-filterpanel-glyph-color-pressed: dynamic($button-filterpanel-color-pressed);
$button-filterpanel-glyph-color-disabled: dynamic($button-filterpanel-color-disabled);

$button-filterpanel-text-transform: dynamic(capitalize);
$button-filterpanel-letter-spacing: dynamic(0.3px);
