$button-primary-background-color: dynamic($cmu-blue-1);
$button-primary-background-color-over: dynamic($cmu-blue-3);
$button-primary-background-color-pressed: dynamic($cmu-blue-3);
$button-primary-background-color-disabled: dynamic($cmu-blue-1);

$button-primary-background-gradient: dynamic($cmu-blue-1, $cmu-blue-2);
$button-primary-background-gradient-over: dynamic($cmu-blue-1, $cmu-blue-3);
$button-primary-background-gradient-pressed: dynamic($button-primary-background-gradient-over);
$button-primary-background-gradient-disabled: dynamic($button-primary-background-gradient);

$button-primary-border-color: dynamic($button-primary-background-color);
$button-primary-border-color-over: dynamic($button-primary-background-color-over);
$button-primary-border-color-pressed: dynamic($button-primary-border-color-over);
$button-primary-border-color-disabled: dynamic($button-primary-border-color);

$button-primary-inner-border-color: dynamic($button-primary-border-color);
$button-primary-inner-border-color-over: dynamic($button-primary-border-color-over);
$button-primary-inner-border-color-pressed: dynamic($button-primary-inner-border-color-over);
$button-primary-inner-border-color-disabled: dynamic($button-primary-inner-border-color);

$button-primary-color: dynamic(#fff);
$button-primary-color-disabled: dynamic(#fdfdfd);

$button-primary-arrow-glyph-color: dynamic(#fff);
