$button-secondary-background-color: dynamic($cmu-gray-1);
$button-secondary-background-color-over: dynamic($cmu-gray-3);
$button-secondary-background-color-pressed: dynamic($cmu-gray-3);
$button-secondary-background-color-disabled: dynamic($cmu-gray-1);

$button-secondary-background-gradient: dynamic($cmu-gray-1, $cmu-gray-2);
$button-secondary-background-gradient-over: dynamic($cmu-gray-1, $cmu-gray-3);
$button-secondary-background-gradient-pressed: dynamic($button-secondary-background-gradient-over);
$button-secondary-background-gradient-disabled: dynamic($button-secondary-background-gradient);

$button-secondary-border-color: dynamic($button-secondary-background-color);
$button-secondary-border-color-over: dynamic($button-secondary-background-color-over);
$button-secondary-border-color-pressed: dynamic($button-secondary-border-color-over);
$button-secondary-border-color-disabled: dynamic($button-secondary-border-color);

$button-secondary-inner-border-color: dynamic($button-secondary-border-color);
$button-secondary-inner-border-color-over: dynamic($button-secondary-border-color-over);
$button-secondary-inner-border-color-pressed: dynamic($button-secondary-inner-border-color-over);
$button-secondary-inner-border-color-disabled: dynamic($button-secondary-inner-border-color);

$button-secondary-color: dynamic(#fff);
$button-secondary-color-disabled: dynamic(#fdfdfd);

$button-secondary-arrow-glyph-color: dynamic(#fff);
